@{
    ViewData["Title"] = "Chef Dashboard";
}

<div class="container mt-5">
    <h2 class="text-center">Welcome, Admin</h2>
    <p class="text-center">Manage your website from here.</p>

    <div class="text-center mt-4">
        <a asp-action="Logout" class="btn btn-danger">Logout</a>
    </div>
</div>
